* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  padding-top: 3rem;
}

img {
  vertical-align: middle;
}

.nav {
  background-color: black;
  padding: 0 1rem;
  /* overflow: hidden; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  z-index: 9999;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}

.logo {
  color: white;
  margin: 1rem;
}
.logo > img {
  height: 1em;
}

.nav .dropdown{
text-align: right;
margin: 0 1rem;
}

.dropdown {
  color: white;
  position: relative;
}

.dropdown:hover {
  color: #10AC84;
}

.dropdown:hover .nav-list {
  display: grid;
}

.nav-list {
  display: none;
  padding: 0;
  width: 30rem;
  position: absolute;
  top: 0;
  right: 0;
  list-style: none;
  background-color: #000;
  width: 90%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  z-index: 900;
  padding-left: 0;
}

.nav-list a{
  color: white;
  padding: 1rem;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #333;
}

.nav-link:hover {
    text-decoration: underline;
    background-color: #2a2a2a;
      transition: all 0.2s;
  }

.hero {
  height: 25vh;
  background-color: #8395A7;
  text-align: right;
  padding: 1.5rem;
}

.tagline {
  margin: 0;
  font-size: 1.5rem; /* If base font-size is 16px => 16 * 1.5 => 24px */
  font-weight: 300;
  border-left: 3px solid white;
  display: inline-block;
  padding-left: 0.25rem;
}

.section-heading {
  text-align: center;
}

.section-heading span {
  border-bottom: 5px solid #10AC84;

  /* border-bottom-width: 3px;
  border-bottom-color: #10AC84;
  border-bottom-style: solid; */
}

.section {
  padding: 1.5rem;
}

.all-products {
  display: grid;
  grid-gap: 1em;
}

.product {
  border: 3px solid black;
  margin: 0;
  position: relative;
  text-align: center;
  /* display: grid;
  grid-template-rows: 1fr 1fr 1fr; */
}

.product-image {
  width: 100%;
  /* position: relative; */
}

.product-details {
  /* padding: 11rem 0 0 0; */
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  background-color: rgba(0,0,0,0.5);
  line-height: 3rem;
  opacity: 0;
  display: grid;
  align-content: center;
}

.product:hover .product-details {
  opacity: 1;
  transition: all 0.5s;
}

.product-details h6,span{
  margin: 0;
}

@media screen and (min-width: 580px)  {

.all-products {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-details {
  font-size: 3rem;
  line-height: 3rem;
}

}
/*
Put dropdown menu in header
 */

/*
Long form for padding & margin
margin-top: 10px;
margin-right: 30px;
margin-bottom: 20px;
margin-left: 50px;

shorthand for padding & margin
margin: 10px 30px 20px 50px; */
